.sub-menu a {
  background-color: #eee !important;
}

.panel-heading {
	color: #fff !important;
    background-color: rgb(33, 133, 208) !important;
}

.btn-rs {
	background-color: #2185D0;
	color: #fff;
}

.btn-rs:hover {
	background-color: #2e73a7;
	color: #fff;
}